# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/

# Environment variables
.env

# Streamlit cache
.streamlit/

# Data files
data/raw_filings/*.html
data/raw_filings/*.htm
data/processed/
*.sqlite3

# OS / editor
.vscode/
.idea/
.DS_Store
Thumbs.db

# Model cache (optional)
.cache/
